@if(User.Identity.IsAuthenticated)
{
	<div>
		Welcome @User.Identity.Name <a class="ml-2 btn btn-link" asp-area="" asp-page="/Logout">Logout</a>
	</div>
		
}
else
{
	<a class="ml-2 btn btn-link" asp-page="/Login">Login</a>
}