@page
@model StudioGhibliMovieMaker.Pages.SignUpModel

@{
    ViewData["Title"] = "SignUp";
}

<h1>SignUp</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentsDataModel.FirstName" class="control-label"></label>
                <input asp-for="StudentsDataModel.FirstName" class="form-control" />
                <span asp-validation-for="StudentsDataModel.FirstName" class="text-danger"></span>
                <br />
            </div>
            <div class="form-group">
                <label asp-for="StudentsDataModel.LastName" class="control-label"></label>
                <input asp-for="StudentsDataModel.LastName" class="form-control" />
                <span asp-validation-for="StudentsDataModel.LastName" class="text-danger"></span>
                <br />
            </div>
            <div class="form-group">
                <label asp-for="StudentsDataModel.DateOfBirth" class="control-label"></label>
                <input asp-for="StudentsDataModel.DateOfBirth" class="form-control" type="date" />
                <span asp-validation-for="StudentsDataModel.DateOfBirth" class="text-danger"></span>
                <br />
            </div>
            <div class="form-group">
                <label asp-for="StudentsDataModel.Email" class="control-label"></label>
                <input asp-for="StudentsDataModel.Email" class="form-control" />
                <span asp-validation-for="StudentsDataModel.Email" class="text-danger"></span>
                <br />
            </div>
            <div class="form-group">
                @foreach (var course in Model.CoursesDataModels)
                {
                    <input type="checkbox" name="SelectedCoursesIds" value="@course.CourseId" /> @course.CourseName
                    <br />
                }
                <input type="hidden" asp-for="StudentsDataModel.Courses" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
