@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Add a new student record <a asp-page="AddStudentRecords">here</a>.</p>
</div>
